.archives-group {
  margin-top: 2em;
}

.article-list--compact {
  align-items: center;
  --image-size: 75px;
  display: inline-flex;
  flex-wrap: wrap;
}

.article-list--compact img {
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0.3em;
}
.article-list--compact article>a {
  gap: 0;
  padding: 2em;
}

.article-list--compact article:not(:last-of-type) {
  border-bottom: none;
  justify-content: space-between;
}

.article-description {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

@media (min-width: 1024px) {
  
  .article-list--compact.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 10px;

      &:nth-child(odd) {
        margin-right: 8px;
      }
    }
  }
}

.article-time>div,
.article-translations>div {
  gap: 5px;
}

.totalcount {
  color: var(--card-text-color-secondary);
  font-weight: normal;
  margin-bottom: 5px;
}

// 文章页字体
body, .article-content {
  font-family: 'Noto Serif SC', serif;
}

// 标题字体
body, .article-title {
  font-family: 'Noto Serif SC', serif;
}


// 首页字体
body, .article-page {
  font-family: 'Noto Serif SC', serif;
}
.tk-content {
  letter-spacing: 1px;
  line-height: 1.5em;
}
.tk-action-icon {
  height: 2em;
  width: 2em;
  font-size: 1.5em;
}
.tk-avatar, .tk-avatar-img{
  height: 2.8em!important;
  width: 2.8em!important;
}
.highlight {
  backdrop-filter:blur(222px);
  background-color: transparent!important;
  padding: 1em!important;
}
.highlight pre  {
  text-wrap:initial;
  border-radius: 0.75em;
  font-weight: 300;
  padding: 1em!important;
  background-color: transparent!important;

  box-shadow: var(--body-background) 0 0 8px;
  color: var(--card-text-color-main)!important;
}
:root {
  
  --card-background: #f2f6f9;
  --body-background: #dae0e5;
}